swagger: "2.0"
info:
  description: "Service responsible for handling text to speech calls."
  version: "1.0.0"
  title: "AzureTextToSpeechService"
host: "northeurope.tts.speech.microsoft.com"
tags:
  - name: "AzureTextToSpeech"
    description: "Handles the text to speech call to the azure service"
schemes:
  - "http"
paths:
  /cognitiveservices/voices/list:
    get:
      tags: 
        - "AzureTextToSpeech"
      summary: "Get a list of all voices"
      description: "Get a list of all voices available in textToSpeech service"
      operationId: "GetAllVoices"
      parameters:
        - name: Ocp-Apim-Subscription-Key
          in: header
          description: "authorization header"
          required: true
          type: string
      responses: 
        200:
          description: Voices received successfully 
          schema: 
            $ref: "#/definitions/VoicesResponse"
        400:
          description: Bad request
definitions:
  VoicesResponse:
    type: array
    items:
      $ref: "#/definitions/Voice" 
  Voice:
    type: object
    properties: 
      name:
        type: string
      displayName:
        type: string
      localName:
        type: string
      shortName:
        type: string
      gender:
        type: string
      locale:
        type: string
      localeName:
        type: string
      styleList:
        type: array
        items: 
          type: string
      secondaryLocaleList:
        type: array
        items: 
          type: string
      sampleRateHertz:
        type: string
      voiceType:
        type: string
      status:
        type: string
      extendedPropertyMap:
        type: object
        properties: 
          isHighQuality48K:
            type: string
      rolePlaylist:
        type: array
        items:
          type: string
      wordsPerMinute:
        type: string
              
      
        
      