swagger: "2.0"
info:
  description: "Service responsible for handling speech to text calls."
  version: "1.0.0"
  title: "AzureSpeechToTextService"
host: "northeurope.stt.speech.microsoft.com"
tags:
  - name: "AzureSpeechToText"
    description: "Handles the speech to text call to the azure service"
schemes:
  - "https"
paths:
  /speech/recognition/conversation/cognitiveservices/v1:
    post:
      tags: 
        - "AzureSpeechToText"
      summary: "Create pronunciation assessment"
      description: "Create a pronunciation assessment and receive assessment in response"
      operationId: "CreatePronunciationAssessment"
      consumes:
        - multipart/form-data
      parameters:
        - name: language
          in: query
          description: Identifies the spoken language that's being recognized, for Danish use da-DK
          required: true
          type: string
        - name: file
          in: formData
          description: Uploaded audio file
          required: true
          type: file
        - name: Ocp-Apim-Subscription-Key
          in: header
          description: Authorization header
          required: true
          type: string
        - name: Content-type
          in: header
          description: Describes the format and codec of the provided audio data
          required: true
          type: string
        - name: Accept
          required: false
          in: header
          description: If provided, it must be application/json
          type: string
        - name: SendChunked
          required: false
          in: header
          description: Send audio in chunks
          type: boolean
        - name: Pronunciation-Assessment
          in: header
          description: Pronunciation assessment parameters
          required: true
          type: string
      responses: 
        100:
          description: The initial request has been accepted. Proceed with sending the rest of the data.
        200:
          description: Pronunciation Assessment was created successfully 
          schema: 
            $ref: "#/definitions/PronunciationAssessmentResponse"
        400:
          description: Bad request
definitions:
  PronunciationAssessment:
    type: object
    properties: 
      Confidence:
        type: number
      Lexical:
        type: string
      ITN:
        type: string
      MaskedITN:
        type: string
      Display:
        type: string
      AccuracyScore:
        type: number
      FluencyScore:
        type: number
      CompletenessScore:
        type: number
      PronScore:
        type: number
  PronunciationAssessmentResponse:
    type: object
    properties:
      RecognitionStatus:
        type: string
      Offset:
        type: string
      Duration:
        type: string
      NBest:
        type: array
        description: Pronunciation assessment info
        items:
          $ref: '#/definitions/PronunciationAssessment'
      DisplayText:
        type: string